<div class="request-edit">
  <h1 class="request-edit__title">Редактирование заявки №{{ requestId }}</h1>
  <div class="request-edit__content">
    <div class="request-edit__info-row">
      <div class="request-edit__info">
        <h2 class="request-edit__info-title">Информация о септике</h2>
        <p class="request-edit__info-text">Город: {{ septic.city }}</p>
        <p class="request-edit__info-text">Улица: {{ septic.street }}</p>
        <p class="request-edit__info-text">Дом: {{ septic.house }}</p>
        <p class="request-edit__info-text">Модель: {{ septic.model }}</p>
        <p class="request-edit__info-text">Объем: {{ septic.volume }}</p>
      </div>
      <div class="request-edit__info">
        <h2 class="request-edit__info-title">Данные клиента</h2>
        <p class="request-edit__info-text">Фамилия: {{ client.surname }}</p>
        <p class="request-edit__info-text">Имя: {{ client.name }}</p>
        <p class="request-edit__info-text">Отчество: {{ client.patronymic }}</p>
        <p class="request-edit__info-text">
          Телефон: {{ client.phone_number }}
        </p>
      </div>
    </div>
    <div class="request-edit__info">
      <h2 class="request-edit__info-title">Услуги</h2>
      <p class="request-edit__info-text">Тип услуг:</p>
      <ul class="request-edit__info-list">
        @for (service of services; track service) {
        <li class="request-edit__info-item">
          {{ service.name }} ({{ service.amount }})
        </li>
        }
      </ul>
      <p class="request-edit__info-text">Дата выполнения: {{ plannedDate }}</p>
      <p class="request-edit__info-text">Комментарий: {{ comment }}</p>
      <p class="request-edit__info-text">
        Итоговая стоимость: {{ summary | number : "1.2-2" }} рублей
      </p>
    </div>
    <app-request-edit-form></app-request-edit-form>
  </div>
</div>
