.why-us {
  background: var(--muted-bg);
  &-container {
    max-width: 1520px;
    padding: 50px 0 80px;
    margin: 0 auto;
  }
}

.title {
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 50px;
}

.item-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

.item {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;

  &-icon {
    width: 55px;
    height: 55px;
    align-self: center;
    margin-right: 30px;
  }
  &-description {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &-name {
    font-size: 24px;
    font-weight: 300;
  }
  &-text {
    font-size: 16px;
    font-weight: lighter;
    line-height: 1.5;
    color: var(--text-color);
  }
}
