<div class="why-us" id="why-us">
  <div class="why-us-container">
    <h2 class="title">Почему стоит выбрать нас</h2>
    <div class="item-container">
      <div class="item">
        <img src="assets/img/master.png" alt="Мастер" class="item-icon" />
        <div class="item-description">
          <p class="item-name">Лучшие мастера</p>
          <p class="item-text">
            Каждый мастер имеет глубокие знания и навыки, что гарантирует
            высокое качество работы на каждом этапе обслуживания очистных
            сооружений.
          </p>
        </div>
      </div>
      <div class="item">
        <img src="assets/img/like.png" alt="Качество" class="item-icon" />
        <div class="item-description">
          <p class="item-name">Качественная работа</p>
          <p class="item-text">
            Мы используем только проверенные методы и современные инструменты
            для выполнения всех работ, обеспечивая долгосрочную и надежную
            эксплуатацию ваших очистных систем.
          </p>
        </div>
      </div>
      <div class="item">
        <img src="assets/img/clocks.png" alt="Время" class="item-icon" />
        <div class="item-description">
          <p class="item-name">Быстрое выполнение</p>
          <p class="item-text">
            Мы ценим ваше время, поэтому все работы выполняются оперативно, без
            потери качества. Наши мастера знают, как эффективно решать задачи,
            не затягивая процесс.
          </p>
        </div>
      </div>
      <div class="item">
        <img src="assets/img/dollar.png" alt="Деньги" class="item-icon" />
        <div class="item-description">
          <p class="item-name">Низкая цена</p>
          <p class="item-text">
            Мы уверены, что качественное обслуживание очистных сооружений не
            должно быть дорогим удовольствием. Оптимальные расценки и прозрачные
            условия работы – залог вашего доверия и удовлетворенности.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
