.call-requests {
  &__title {
    font-size: 34px;
    font-weight: 300;
    margin-bottom: 30px;
  }
  &__table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      padding: 12px 15px;
      border: 1px solid #eee;
      text-align: start;
      font-size: 18px;
      font-weight: 300;

      &:first-child {
        width: 50px;
      }
    }
  }
}
