<footer class="footer">
  <div class="footer__container">
    <div class="footer__section">
      <h3 class="footer__title">Для покупателей</h3>
      <nav class="footer__nav">
        <ul class="footer__list">
          <li class="footer__item">
            <a class="footer__link" href="#">Главная</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Услуги</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Примеры работ</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Подать заявку</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Личный кабинет</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="footer__section">
      <h3 class="footer__title">О нас</h3>
      <nav class="footer__nav">
        <ul class="footer__list">
          <li class="footer__item">
            <a class="footer__link" href="#">Оплата услуг</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Политика конфиденциальности</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Публичная оферта</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Контакты</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Обратная связь</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="footer__section">
      <h3 class="footer__title">Контакты</h3>
      <div class="footer__contacts">
        <p class="footer__contact">
          Адрес:
          <span class="footer__contact-value"
            >г. Москва, ул. Нижняя Первомайская, 23, офис 1</span
          >
        </p>
        <p class="footer__contact">
          Телефон:
          <span class="footer__contact-value">+7 (800) 555-35-35</span>
        </p>
        <p class="footer__contact">
          Электронная почта:
          <span class="footer__contact-value">support&#64;septic.com</span>
        </p>
        <p class="footer__contact">
          Режим работы:
          <span class="footer__contact-value"
            >Пн-Пт: 9:00 – 18:00 Сб-Вс: 10:00 – 16:00</span
          >
        </p>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <p class="footer__copyright">ООО “SepticOne” - Все права защищены 2025</p>
  </div>
</footer>
