<div class="about-us-container">
  <div class="text-block">
    <h3 class="text-block__title">О нас</h3>
    <p class="text-block__main-info">
      Мы специализируемся на профессиональном обслуживании очистных сооружений:
      от регулярных проверок и очистки до устранения неисправностей и замены
      комплектующих.<br />
      Мы стремимся предоставить клиентам качественные услуги с минимальными
      затратами времени и средств. Важно, чтобы каждый дом имел надежную и
      безопасную очистную систему, а мы поможем вам поддерживать её в идеальном
      состоянии.
    </p>
    <p class="text-block__list-title">Что мы предлагаем:</p>
    <ul class="text-block__list">
      <li class="text-block__list-item">
        Профессиональное обслуживание септиков и очистных систем
      </li>
      <li class="text-block__list-item">Проверка и диагностика</li>
      <li class="text-block__list-item">Быстрая и качественная очистка</li>
      <li class="text-block__list-item">
        Устранение неисправностей и замена деталей
      </li>
    </ul>
    <p class="text-block__ending-text">
      Мы заботимся о вашем комфорте и безопасности, предлагая простое решение
      для ваших очистных систем. На нашем сайте вы найдете всю необходимую
      информацию для записи на обслуживание и консультации.
    </p>
  </div>
  <div class="img-block"></div>
</div>
