.about-us {
  &__container {
    max-width: 1520px;
    margin: 0 auto;
    padding: 50px 0 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }
  &__title {
    font-size: 32px;
    font-weight: 300;
  }
  &__text {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  &__description {
    line-height: 1.5;
  }
  &__details,
  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__list {
    padding: 0 20px;
    line-height: 1.5;
  }
  &__note {
    line-height: 1.5;
  }
  &__image {
    position: relative;
    width: 50%;
  }
  &__img {
    position: absolute;
    width: 500px;
    &:first-child {
      z-index: 5;
      top: 30px;
    }
    &:last-child {
      top: 280px;
      left: 250px;
    }
  }
}
