<div
  class="about-us step-group col-xl-8 offset-xl-2 col-md-10 offset-md-1 col-12"
>
  <a id="about-us"></a>
  <p class="text-center col-12 step-label">О нас</p>
  <div class="row">
    <div class="col-6">
      <p class="about-us-text">
        Наша компания специализируется на предоставлении услуг по обслуживанию и
        ремонту канализационных систем.<br />
        Наш многолетний опыт позволяет нам выполнять работы любой сложности
        быстро и качественно.<br />
        Обращаясь к нам, вы можете быть уверены в том, что ваш вопрос будет
        решен в кратчайшие сроки.
      </p>
    </div>
    <img src="../../../../assets/img/system-example.jpg" class="col-6" />
  </div>
</div>
