@use "variables" as *;

@mixin input {
  &[type="checkbox"] {
    width: 20px;
    height: 20px;
    accent-color: $primary-color;
    margin-right: 6px;
    box-shadow: none;
    cursor: pointer;
  }

  &[type="text"],
  &[type="email"],
  &[type="password"],
  &[type="number"],
  &[type="select"] {
    padding: 15px;
    font-size: 16px;
    color: #000;
    border: 1px solid $border-color;
    border-radius: 2px;
    width: 100%;

    &::placeholder {
      color: $placeholder-color;
    }

    &:disabled {
      border-color: $input-disabled-color;
      color: $placeholder-disabled-color;
      cursor: auto;
    }
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
}

@mixin button {
  font-size: 18px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  &--save,
  &--edit {
    background-color: $color-primary;
    color: #fff;
  }
  &--cancel {
    background-color: $cancel-color;
  }
}
