// Основные цвета
$primary-color: #5b4a4a;
$secondary-color: #15325c;
$font-color: #333;

// Состояния
$color-success: #00632b;
$color-error: #6b0700;
$color-warning: #ffc107;
$color-info: #17a2b8;
$color-cancel: #ccc;

// Интерактивные элементы
// $border-color: #99999c;
// $placeholder-color: #8b8b8b;
// $placeholder-disabled-color: #c5c5c5;
// $input-disabled-color: #c7c7ce;
// $cancel-color: #ccc;
$border-color: #9c9fa3;
$placeholder-color: #838383;
$placeholder-disabled-color: #d1d5db;
$input-disabled-color: #e5e7eb;
