<div class="row">
  <div class="offset-md-1 col-md-3 col-6 logo">
    <img src="../../../../assets/img/logo.webp" alt="logo" />
  </div>
  <p class="col-md-8 col-6 phone-number">+7 (999) 999-99-99</p>
</div>
<div class="offset-lg-1 col-lg-10 col-12 btn-group" role="group">
  <a type="button" class="btn btn-outline-primary" href="#about-us"> О нас </a>
  <a type="button" class="btn btn-outline-primary">Услуги</a>
  <a type="button" class="btn btn-outline-primary">Примеры работ</a>
  <a type="button" class="btn btn-outline-primary">Контакты</a>
</div>
