.header {
  padding: 15px 30px;
  &__container {
    max-width: 1520px;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  &__logo {
    display: flex;
    align-items: center;
    &-block {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }
  &__navigation {
    display: flex;
    align-items: center;
  }

  &__contacts-and-profile {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__hamburger-btn {
    background: none;
    border: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    position: relative;
    display: none;
    & > span {
      display: block;
      width: 30px;
      height: 3px;
      background-color: black;
      position: relative;
      transition: 0.3s ease;

      &:before,
      &:after {
        content: "";
        width: 30px;
        height: 3px;
        background-color: black;
        position: absolute;
        transition: 0.3s ease;
        left: 0;
      }

      &:before {
        top: -8px;
      }

      &:after {
        top: 8px;
      }
    }
  }
}

.logo-block {
  &__image {
    width: 80px;
    height: 60px;
  }
  &__title {
    width: 107px;
    font-size: 12px;
    line-height: 11px;
    margin: 0;
    margin-left: 10px;
    color: #5b4a4a;
  }
}

.contacts-and-profile {
  &__phone {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__login-button {
    background-color: #5b4a4a;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    margin-left: 30px;
    border: none;
    color: white;
    padding: 12px 30px;
    font-size: 20px;
    line-height: 24px;
  }
}

.phone {
  &__wrapper {
    margin-left: 10px;
  }
  &__number {
    margin: 0;
    font-weight: bold;
  }
  &__order {
    margin: 0;
    text-align: center;
    font-size: 14px;
    color: #5b4a4a;
  }
}

.navigation {
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 15px;
    &-link {
      text-decoration: none;
      color: black;
      transition: 0.3s;
      &:hover {
        transition: 0.3s;
        opacity: 0.5;
      }
    }
    &-btn {
      display: none;
    }
  }
}
@media screen and (max-width: 1150px) {
  .header {
    &__container {
      flex-direction: column;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background: white;
      box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
    }
    &__navigation,
    &__contacts-and-profile {
      display: none;
    }
    &__navigation--open {
      display: flex;
      padding: 20px;
    }
    &__hamburger-btn {
      display: block;
    }
    &__logo {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 10px 30px;
    }
  }
  .navigation {
    &__list {
      width: 100%;
      flex-direction: column;
      justify-content: center;
      &-btn {
        display: block;
        padding: 10px 30px;
        border: none;
        background: var(--primary-color);
        color: white;
        font-size: 18px;
      }
    }
  }
}
