<header class="header">
  <div class="header__logo-block">
    <img src="assets/img/logo.png" alt="Логотип" class="logo-block__image" />
    <p class="logo-block__title">Обслуживание частых очистных сооружений</p>
  </div>
  <nav class="header__navigation">
    <ul class="navigation__list">
      <li class="navigation__list-item">Главная</li>
      <li class="navigation__list-item">О нас</li>
      <li class="navigation__list-item">Услуги</li>
      <li class="navigation__list-item">Примеры работ</li>
      <li class="navigation__list-item">Контакты</li>
    </ul>
  </nav>
  <div class="header__contacts-and-profile">
    <div class="contacts-and-profile__phone">
      <img
        src="assets/svg/PhoneCalling.svg"
        alt="Иконка телефона"
        class="phone__icon"
      />
      <div class="phone__wrapper">
        <p class="phone__number">+7 (800) 555-35-35</p>
        <p class="phone__order">Заказать звонок</p>
      </div>
    </div>
    <button class="contacts-and-profile__login-button">Войти</button>
  </div>
</header>
