<div class="contacts">
  <div class="contacts__container">
    <h2 class="contacts__title">Контакты</h2>
    <div class="contacts__content">
      <div class="contacts__info">
        <h3 class="contacts__subtitle">
          ОС-центр – ваш надежный партнер в сфере обслуживания очистных
          сооружений.
        </h3>
        <div class="contacts__details">
          <p class="contacts__detail">
            Адрес:
            <span class="contacts__detail-value"
              >г. Москва, ул. Нижняя Первомайская, 23, офис 1</span
            >
          </p>
          <p class="contacts__detail">
            Телефон:
            <span class="contacts__detail-value">+7 (800) 555-35-35</span>
          </p>
          <p class="contacts__detail">
            Электронная почта:
            <span class="contacts__detail-value">support&#64;septic.com</span>
          </p>
          <p class="contacts__detail">
            Режим работы:
            <span class="contacts__detail-value"
              >Пн-Пт: 9:00 – 18:00 Сб-Вс: 10:00 – 16:00</span
            >
          </p>
        </div>
        <hr class="contacts__separator" />
        <div class="contacts__legal">
          <p class="contacts__legal-detail">
            Полное наименование:
            <span class="contacts__legal-value">ООО "ОС-центр"</span>
          </p>
          <p class="contacts__legal-detail">
            Юридический адрес:
            <span class="contacts__legal-value"
              >Пн-Пт: 9:00 – 18:00 Сб-Вс: 10:00 – 16:00</span
            >
          </p>
          <p class="contacts__legal-detail">
            ИНН: <span class="contacts__legal-value">ХХХХХХХХХХХ</span>
          </p>
          <p class="contacts__legal-detail">
            ОГРН: <span class="contacts__legal-value">ХХХХХХХХХХХХХХ</span>
          </p>
        </div>
      </div>
      <div class="contacts__map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2243.105976868847!2d37.797794577599376!3d55.791397673098565!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x414acb2d33440927%3A0x207872e2457ec1a2!2sNizhnyaya%20Pervomayskaya%20Ulitsa%2C%2023%2C%20Moskva%2C%20105554!5e0!3m2!1sen!2sru!4v1747159045853!5m2!1sen!2sru"
          width="600"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
  </div>
</div>
