@use "variables" as *;
@use "mixins" as *;

.modal {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  &__container {
    position: relative;
    width: 550px;
    height: fit-content;
    margin: 50px 0;
    padding: 40px;
    background-color: white;
  }
  &__button-close {
    background: transparent;
    border: none;
    position: absolute;
    top: 45px;
    right: 40px;
    width: 16px;
    height: 16px;
    background: transparent;
    border: none;
    cursor: pointer;
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 20px;
      height: 2px;
      background: black;
      transform-origin: center;
    }
    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}
.auth {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }
  &__title {
    font-size: 24px;
    font-weight: 300;
  }

  &__form {
    &-label {
      &-checkbox {
        font-size: 16px;
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }
    &-group {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-bottom: 20px;
    }
    &-input {
      @include input();
    }
    &-link {
      color: black;
    }
  }
  &__link {
    cursor: pointer;
    text-decoration: none;
    color: var(--primary-color);
    font-size: 16px;
    &-selector {
      font-size: 18px;
      background: transparent;
      border: none;
    }
  }
  &__button {
    width: 100%;
    @include button();
  }
  &__footer {
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .modal {
    &__container {
      position: static;
      width: 100%;
      height: 100%;
      margin: 0;
      display: flex;
      align-items: center;
    }
  }
  .login,
  .register {
    width: 100%;
  }
}
